In [10]:
%config IPCompleter.greedy=True

In [17]:
from sklearn.dummy import DummyClassifier
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import torch
from torch import nn

In [5]:
train = pd.read_csv("train.tsv", sep='\t')
test = pd.read_csv("test.tsv", sep='\t')

In [6]:
trainX = train.drop(columns=["y", "id"])
trainY = train["y"]
testX = test.drop(columns=["id"])
submission = test[["id"]].copy()

In [16]:
class binClassificator(nn.Module):
    def __init__(self, *args, **kwargs):
        super(binClassificator,self).__init__(*args, **kwargs)

In [11]:
testX[:5]

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x991,x992,x993,x994,x995,x996,x997,x998,x999,x1000
0,70,90,-100,?,-10,?,260,-370,-280,?,...,?,?,10,140,50,?,-60,?,-3200,-950
1,60,40,-40,-20,-10,110,330,?,?,0,...,?,20,40,?,?,-1220,-50,?,-3560,-920
2,80,60,?,-60,0,?,360,-540,?,?,...,?,20,?,100,?,-1170,-50,-10,?,?
3,80,90,40,10,?,190,490,-380,?,-10,...,?,20,20,-40,40,?,?,-40,?,?
4,80,70,40,?,?,70,470,-340,630,?,...,50,10,30,20,40,-1700,-60,-20,?,-420

In [ ]:
clsf = (random_state=1)
clsf.fit(trainX, trainY)
prediction = clsf.predict(testX)

In [ ]:
submission["y"] = prediction

In [ ]:
submission.to_csv("submission.tsv", sep='\t')